body{
    background-color: rgb(255, 232, 192);
    margin: 36px 20%;
}

h1{
    font-size: 48px;
    color: rgb(54, 78, 150);
    text-align: center;
}

.ramen-image{
    width: 60%;
    /* height: 60%; */
}

/* .ramen{
    text-align: center;
} */